.btn{
    background-color: rgb(65, 167, 219);
    color: rgb(0, 0, 0);
    height: 32px;
    border: none;
    padding-inline: 16px;
    border-radius: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: rgb(202, 229, 238);
    }
  
    
  }
  